<section class="hero hero-secondary" data-section-id="no-sale-hero" data-module="hero">
	<img data-src="{{ settings.no_sale_desktop_image | img_url: 'master' }}" class="hero-bg desktop lazyload">

	<img data-src="{{ settings.no_sale_mobile_image | img_url: 'master' }}" class="hero-bg mobile lazyload">

	<div class="hero-wrap fa--left-center ta--left">
		<div class="hero-content">
		<h1 class="hero-heading" style="color: #000000;">{{ page_title }} {{ settings.no_sale_text_heading }}</h1>

		<p class="hero-description" style="color: #000000;">{{ settings.no_sale_text_content }}</p>

		{% include 'banner-newsletter-form--mc' %}

		<a href="#see-all" class="btn-hyperlink" style="color: #1e3d54;">Continue Shopping</a>

		</div>
	</div>

  	<a class="anchor" id="see-all"></a>
</section>