{% include 'frequent-products' %}

<section class="product">
  	<section class="product-slider">
      {% include 'product-grid-item-images' %}
	</section>

	<section class="product-box">
		<div class="product-box__wrap">
			{% assign product_seprator = product.title | split: " "  %}

          	<h1 class="f1">{{ product_seprator[0] }} <span class="f2">{{ product_seprator[1] }}</span> </h1>

          	<div class="product-reviews">
              <div class="yotpo bottomLine"
				data-appkey="yjNXdflh4p4OfTj1ZjS9Bv5mc5B5kdK7ca5iEb6d"
				data-domain="{{ shop.permanent_domain | escape }}"
				data-product-id="{{ product.id }}"
				data-product-models="{{ product.id }}"
				data-name="{{ product.title | escape }}"
				data-url="{{ shop.url }}{{ product.url }}"
				data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
				data-description="{{ product.description | escape }}"
				data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
			</div>

          	<div class="product-description">
				<div class="product-description__wrap">

                  	{% section 'product-discount-code' %}

                  	{% if product.metafields.product.sale_text.size > 0 %}
    	                <div class="link-wrapper"><a href="{{product.metafields.product.sale_link}}">{{product.metafields.product.sale_text}}</a></div>
                  	{% endif %}

                    {% if product.description.size > 0 %}
                    	<div class="product-content">{{product.description}}</div>
                    {% endif %}
				</div>
			</div>
          
            <div class="product-tiles__header">
              <div class="product-tiles__header-details _inclusion">
                <p><span class="value"></span></p>
              </div>
            </div>
          
            <div class="price-block">
              {% assign currencyISO = product.selected_or_first_available_variant.price | money_with_currency | slice: -3, 3 %}
              
              {% assign variant_position = 0 %}
              {% assign specific_variant = product.metafields.product.pdp_specific_variant %}

              {% if specific_variant %}
              {% assign variant_position = specific_variant %}
              {% endif %}

              {% assign cs_price = product.variants[variant_position].price | money_without_currency | replace: ',', '' | replace: '.00', '' | plus: 0 %}
              {% assign cs_compare_price = product.variants[variant_position].compare_at_price | money_without_currency | replace: ',', '' | replace: '.00', '' | plus: 0 %}
              {% assign elDiscount = cs_compare_price | minus: cs_price %}
              {% assign elDiscountText = 'off' %}

              {% assign cs_has_discount = false %}

              {% assign sale_products = settings.sale_products %}

              {% if sale_products contains product.handle %}
              	{% assign cs_has_discount = false %}
              {% else %}
              	{% assign cs_has_discount = true %}
              {% endif %}

              {% if settings.percentage_enable == true and cs_has_discount == true %}

                {% assign discountValue = settings.discount_percentage | plus: 0 %}
                {% assign elDiscount = cs_price | times: discountValue | divided_by: 100 %}
                {% assign elDiscountText = 'off with code' %}

                {% assign cs_compare_price = cs_price %}
                {% assign cs_price = cs_price | minus: elDiscount %}

              {% endif %}

              {% if settings.tier_enable == true and cs_has_discount == true %}

                {% if cs_price >= settings.min_value_1 %}

                  {% if cs_price >= settings.min_value_1 and cs_price <= settings.max_value_1 %}

                      {% assign elDiscount = settings.coupon_amount_1 %}

                  {% elsif cs_price >= settings.min_value_2 and cs_price <= settings.max_value_2 %}

                      {% assign elDiscount = settings.coupon_amount_2 %}

                  {% elsif cs_price >= settings.min_value_3 %}

                    {% assign elDiscount = settings.coupon_amount_3 %}
                    {% assign elDiscountText = 'off with code' %}
                  {% endif %}

                  {% assign cs_compare_price = cs_price %}
                  {% assign cs_price = cs_price | minus: elDiscount %}
                {% endif %}
              {% endif %}

              <div class="price-info">
                <div class="price-head">Pay Now</div>

                <div class="title-after-price">
                  <div class="discount-price">
                    <span class="currency-symbol">$</span>
                    <span id="discount-price">{{ cs_price }}</span>
                    <span class="last">{{ currencyISO }}</span>
                  </div>

                  <div class="total-price {% if cs_compare_price > 0 %}{% else %}_hide{% endif %}">
                    <span class="was hidden">WAS</span>
                    <span class="currency-symbol">$</span>
                    <span id="total-price">{{ cs_compare_price }}</span>
					<span class="total-discount-text" data-uw-rm-sr=""> ${{elDiscount}} {{elDiscountText}}</span>
                  </div>
                </div>
              </div>

              <div class="finance-info" style=" {% if currencyISO == 'CAD' %}display: none;{% endif %} ">
                <div class="price-head">As low as</div>

                <div class="affirm-block">
                  <div class="product-finance">
                    <div class="affirm-as-low-as" data-page-type="product" data-amount="{{ product.selected_or_first_available_variant.price }}" data-affirm-type="logo" data-learnmore-show="false">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="product-splitit-wrapper">
              <div class="product-splitit-content"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0661/5815/files/splitit-logo.png" /> <span class="product-splitit-text">Monthly payments using your credit card at 0% interest. <a class="product-splitit-link" href="#">Learn More</a></span></div>
            </div>
          
			<div class="product-tiles" data-tiles="{{ product.variants.size }}">
              <label for="dropdownMattressSize">
                	<span style="flex:1;">Choose Mattress Size</span>
              </label>
              
              {% assign cs_has_discount = false %}

              {% assign sale_products = settings.sale_products %}

              {% if sale_products contains product.handle %}
              	{% assign cs_has_discount = true %}
              {% endif %}

              {% if sale_products.size < 1 %}
              	{% assign cs_has_discount = true %}
              {% endif %}
              
              {% assign variant_position = 0 %}
              {% assign specific_variant = product.metafields.product.pdp_specific_variant %}

              {% if specific_variant %}
              	{% assign variant_position = specific_variant %}
              {% endif %}
              
              <select data-selection="{{variant_position}}" id="dropdownMattressSize" class="product-dropdown__list">
                {% for variant in product.variants %}

                	{% assign cs_price = variant.price | money_without_currency | replace: ',', '' | replace: '.00', '' | plus: 0 %}
                    {% assign cs_compare_price = variant.compare_at_price | money_without_currency | replace: ',', '' | replace: '.00', '' | plus: 0 %}
                	{% assign cs_default_compare_price = variant.compare_at_price | money_without_currency | replace: ',', '' | replace: '.00', '' | plus: 0 %}

                    {% if settings.percentage_enable == true and cs_has_discount == true %}

                        {% assign discountValue = settings.discount_percentage | plus: 0 %}
                        {% assign elDiscount = cs_price | times: discountValue | divided_by: 100 %}

                        {% assign cs_compare_price = cs_price %}
                        {% assign cs_price = cs_price | minus: elDiscount %}

                    {% endif %}

                    {% if settings.tier_enable == true and cs_has_discount == true %}

                        {% if cs_price >= settings.min_value_1 %}

                            {% if cs_price >= settings.min_value_1 and cs_price <= settings.max_value_1 %}

                            	{% assign elDiscount = settings.coupon_amount_1 %}

                            {% elsif cs_price >= settings.min_value_2 and cs_price <= settings.max_value_2 %}

                            	{% assign elDiscount = settings.coupon_amount_2 %}

                            {% elsif cs_price >= settings.min_value_3 %}

                            	{% assign elDiscount = settings.coupon_amount_3 %}
                            {% endif %}

                            {% assign cs_compare_price = cs_price %}
                            {% assign cs_price = cs_price | minus: elDiscount %}
                        {% endif %}
                    {% endif %}
                
                    {% assign haspillow = variant.metafields.variant.attached_product %}
                    {% assign hasinformation = '' %}
                    {% assign hasthumbnail = variant.metafields.variant.thumbnail %}

                    <option class="" 
                            value="{{ variant.id }}" 
                            data-variant="{{ variant.title }}"
                            data-price="{{cs_price}}"
                            data-information="{{hasinformation}}"
                            data-attached="{{haspillow}}"
                            data-old-price="{{cs_compare_price}}"
                            data-discount-text="{% if elDiscount > 0 %} (${{elDiscount}} off with code){% endif %}"
                            {% if variant.available %}{% else %}disabled{% endif %}
                            data-title="{{ variant.title | escape }}">{{ variant.title }}{% if variant.available %}{% else %} - SOLD OUT{% endif %}
                    </option>
                    {% endfor %}
              </select>

              <div class="frequent-products" style="display: none;">
                <h3 class="switch_heading">{{product.metafields.product.addon_heading}}</h3>

                <div class="check-found"></div>
              </div>

              <label class="check-mattress-only">
                <span>Bundle Only</span>
                <input type="checkbox" class="check-mattress-only-checkbox mdi" name="mattress-only" />
				<div class="check-mattress-only-additional"></div>
              </label>
			</div>

          	{% include 'add-on-product-buy' %}
          </div>
	</section>
</section>
<script type="text/javascript">

  {% if has_youtube == true %}

        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player = [];

        function onYouTubePlayerAPIReady() {

           if($('.product-slider__slide.video-youtube').length > 0) {
              $('.product-slider__slide.video-youtube').each(function(i) {
                  var iframeEl = $(this).find('iframe').attr('id');
                  player[i] = new YT.Player(iframeEl);
              });
           }
        }
  {% endif %}
  
  $(document).ready(function(){
	var currencyCode = $("#in-context-paypal-metadata").attr("data-currency");
    $(".discount-price .last").text(currencyCode);
  });
  
</script>