{% if section.settings.toggle %}
<section class="simplegrid {{ section.settings.padding-top }} {{ section.settings.padding-bottom }}" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.background-color }}; color: {{ section.settings.text-color }};" data-module="simplegrid">

    <style type="text/css">
      {% if section.settings.background-image.size > 0 %}
        #shopify-section-{{section.id}} .simplegrid {
          background-image: url({{ section.settings.background-image | img_url: 'master' }});
        }
      {% endif %}

      {% if section.settings.background-image.size > 0 %}

      	@media screen and (max-width: 767px) {
          #shopify-section-{{section.id}} .simplegrid {
            background-image: url({{ section.settings.mobile-image | img_url: 'master' }});
          }
        }
      {% endif %}
    </style>
  
  	{% if section.settings.title.size > 0 %}
		<h2 class="simplegrid-title">{{ section.settings.title }}</h2>
  	{% endif %}
	<div class="simplegrid-wrap">
		<ul class="simplegrid-list">
			{% for block in section.blocks %}
				<li class="simplegrid-item">
					<div class="simplegrid-item__wrap">
                      	{% if block.settings.image.size > 0 %}
							<img data-src="{{ block.settings.image | img_url: '300x' }}" class="simplegrid-item__image lazyload">
                     	{% endif %}
						<h2 class="simplegrid-item__title">{{ block.settings.title }}</h2>
						<p class="simplegrid-item__text">{{ block.settings.description }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>

      	{% if section.settings.bottom_line.size > 0 %}
      		<div class="text-center">
              	{{ section.settings.bottom_line }}
      		</div>
      	{% endif %}
	</div>
  {% if template == 'index' %}
    {% comment %}
    <a class="indexlinkgrid" href="https://www.usatoday.com/story/special/contributor-content/2023/12/18/best-mattress-of-2024-top-5-mattresses-for-every-sleeping-position/71965841007/" target="_blank">Best Mattress of 2024: Top 5 Mattresses for Every Sleeping Position - USA Today</a>
    {% endcomment %}  
  {% endif %}
    {% if product.handle == "bear-original-mattress" or product.handle == "bear-original-hybrid" %}
      <p class="small-link dark text-center" style="margin-top: 30px;">*Based on All-Foam and Hybrid models.</p>
    {% endif %}
</section>
{% endif %}
<style>
  .indexlinkgrid{
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
        position: relative;
    font-family: apercu,Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    color: #0C324C;
  }
  .temp .simplegrid-wrap .simplegrid-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .temp .simplegrid-wrap .simplegrid-list .simplegrid-item{
    margin: 0;
    max-width: 235px;
    min-width: 150px;
    flex-basis: initial;
    flex: none;
  }
    @media only screen and (max-width: 1245px) {
       .temp .simplegrid-wrap .simplegrid-list .simplegrid-item{
        min-width: 288px;
       }
    }
  @media only screen and (max-width: 600px) {
    .indexlinkgrid{
    font-size: 1rem;
  }
   .temp .simplegrid-wrap .simplegrid-list .simplegrid-item{
    margin: 0;
    max-width: none;
    min-width: 50px;
     width: 48%;
    
  }
}
</style>

