
{% if section.settings.toggle %}

	{% if section.settings.carousel_toggle %}
		<div class="yotpo yotpo-reviews-carousel"
             data-header-customisation-enabled="1" 
             data-header-customisation-color="#3c3c3f" 
             data-header-customisation-font-size="20" 
             data-header-customisation-text="More Happy Sleepers" 
             data-header-customisation-alignment="left" 
             data-background-color-enabled="1" 
             data-background-color="#ffffff" 
             data-mode="top_rated" 
             data-type="product" 
             data-count="7" 
             data-show-bottomline="1" 
             data-autoplay-enabled="1" 
             data-autoplay-speed="1000">
          &nbsp;
		</div>
	{% endif %}
	
	{% if section.settings.featured_toggle %}
		<section class="review {{ section.settings.padding-top }} {{ section.settings.padding-bottom }}" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.background-color }}; color: {{ section.settings.text-color }};" data-module="review">
			<img data-src="//cdn.shopify.com/s/files/1/0661/5815/t/40/assets/ReviewPage.jpg?17940750007011194979" class="review-background lazyload">
			<div class="review-wrap">
				{% comment %}<img data-src="{{ 'review-stars.png' | asset_url }}" class="review-stars lazyload">{% endcomment %}
				<blockquote class="review-quote">&#8220;{{ section.settings.quote }}&#8221;</blockquote>
				<p class="review-author">- {{ section.settings.author }}</p>
			</div>
		</section>
	{% endif %}

{% endif %}
