
<div class="product-grid" data-section-id="{{ section.id }}" data-section-type="product-grid" style="background-color: {{section.settings.background-color}}; color: {{section.settings.text-color}};" data-module="slider">
  <h1 class="product-grid__header">{{ section.settings.header }}</h1>
  <div class="product-grid__products-wrapper">
    {% for block in section.blocks %}
    <div class="product-grid__img-wrapper">
      <img class="product-grid__img lazyload" data-src="{{ block.settings.main_image | img_url: 'master' }}">
        <p class="product-grid__product-name" style="font-size:15px;">{{ block.settings.product_name}}</p>
      <p class="product-grid__text" style="color: {{ block.settings.description_text_color }};">{{ block.settings.description }}</p>
      <a href="{{ block.settings.product_link }}" class="btn {% if block.settings.use-shadow %} shadow {% endif %} btn-blue" style="color: {{ block.settings.button-text-color }}; background-color: {{ block.settings.button-background-color }}; border-color: {{block.settings.button-border-color}};" data-id="{{ block.settings.button_text | handle }}">{{ block.settings.button_text }}</a>
    </div>
    <style>
    .product-grid__product.btn[data-id="{{ block.settings.button_text | handle }}"]:hover {
      background-color: {{block.settings.button-border-color}} !important;
      text-decoration: none;
    }
    .product-grid__product.btn.shadow[data-id="{{ block.settings.button_text | handle }}"]:hover {
      background-color: {{block.settings.button-background-color | color_lighten: 05}} !important;
    }
    </style>
    {% endfor %}
  </div>
  <div class="product-grid__slider">
    {% for block in section.blocks %}
      <div class="product-grid__img-wrapper">
        <img class="product-grid__img lazyload" data-src="{{ block.settings.main_image | img_url: 'master' }}">
        <p class="product-grid__product-name" style="font-size:15px;">{{ block.settings.product_name}}</p>
        <p class="product-grid__text" style="color: {{ block.settings.description_text_color }};">{{ block.settings.description }}</p>
        <a href="{{ block.settings.product_link }}" class="btn {% if block.settings.use-shadow %} shadow {% endif %} btn-blue" style="color: {{ block.settings.button-text-color }}; background-color: {{ block.settings.button-background-color }}; border-color: {{block.settings.button-border-color}};">{{ block.settings.button_text }}</a>
      </div>
    {% endfor %}
  </div>
</div>
