
{% if section.settings.toggle %}
	<div class="icon-grid" data-section-id="{{ section.id }}" data-section-type="icon-grid" style="background-color: {{section.settings.background-color}}; color: {{section.settings.text-color}};">
      {% if section.settings.section_title.size > 0 or section.settings.section_description.size > 0 %}
      <div class="icon-grid__section-heading">
		<h2 class="common-section-heading">{{section.settings.section_title}}</h2>
        <p class="common-section-description">{{section.settings.section_description}}</p>
      </div>
      {% endif %}

      <div class="icon-grid__section-wrapper {{section.settings.grid_width}}">
        {% for block in section.blocks %}
        <div class="icon-grid-img__wrapper {% if block.settings.desktop_toggle == true %} cs-hide-desktop{% endif %} {% if block.settings.mobile_toggle == true %} cs-hide-mobile{% endif %}">
          <img class="icon-grid-img {{section.settings.icon_width}} {% if block.settings.circle_toggle == false %}cs-no-radius{% endif %} lazyload" data-src="{{ block.settings.main_image | img_url: 'master' }}">
          <div class="icon-grid-text">{{ block.settings.message }}</div>
        </div>
        {% endfor %}
	  </div>
	</div>
{% endif %}