{% assign collection_handle = 'mattresses' %}
{% assign current_collection = collections[collection_handle] %}

{%- assign grid_width_large = section.settings.grid_width_large -%}
{%- assign grid_width_medium = section.settings.grid_width_medium -%}
{%- assign grid_width_small = section.settings.grid_width_small -%}

{%- assign grid_offset = '' -%}
{%- assign products_count = current_collection.products_count -%}
{%- if grid_width_large == 'large--one-half' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--one-quarter' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-third' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--one-third' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--one-sixth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-quarter' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--three-eighths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--one-quarter' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--one-eighth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-fifth' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--two-fifths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--three-tenths' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--one-fifth' -%}
  {%- elsif products_count == 4 -%}
    {%- assign grid_offset = 'push--large--one-tenth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-sixth' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--five-twelfths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--two-sixths' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--three-twelfths' -%}
  {%- elsif products_count == 4 -%}
    {%- assign grid_offset = 'push--large--one-sixth' -%}
  {%- elsif products_count == 5 -%}
    {%- assign grid_offset = 'push--large--one-twelfth' -%}
  {%- endif -%}
{%- endif -%}

{%- assign product_count = 48 -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_count = 20 -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_count = 50 -%}
{%- elsif grid_width_large == 'large--one-third' -%}
  {%- assign product_count = 48 -%}
{%- elsif grid_width_large == 'large--one-quarter' -%}
  {%- assign product_count = 48 -%}
{%- elsif grid_width_large == 'large--one-fifth' -%}
  {%- assign product_count = 50 -%}
{%- endif -%}

{% assign show_section_title = section.settings.show_section_title %}


{% assign grid_background_option = section.settings.grid_background_option %}
{% assign grid_background_color = section.settings.grid_background_color %}
{% assign grid_styling_option = section.settings.grid_styling_option %}
{% assign banner_option = section.settings.banner_option %}

<div class="our-mattresses-collection-component">

<div data-section-id="{{ section.id }}" data-section-type="collection">

  <div class="collection" {% if grid_background_option == true %} style="background-color: {{grid_background_color}}" {% endif %}>

    <div class="wrapper">
      
      <div class="cs-collection-container">
        <div class="head-container">
          <p class="head-con">{{ section.settings.head-con }}</p>
                <p class="subhead-con">{{ section.settings.subhead-con }}</p>
        </div>

          <div class="page-margin">

              <div class="grid__item one-whole">

                  <div class="grid-uniform{% if settings.image_autoheight_enable %} image_autoheight_enable{% endif %} {% if grid_styling_option == true %} styling-enabled{% endif %} {% if banner_option == true %} banner-enabled{% endif %} grid__collection__{{collection_handle}}">
                    {% for product in current_collection.products %}
                      {% include 'homepage-grid-item' %}
                    {% endfor %}
                  </div>
            </div>
          </div>
      </div>

    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Mattresses collection",
  "settings": [
    {
      "id": "head-con",
      "label": "Headline Text",
      "type": "text"
    },
    {
       "id": "subhead-con",
      "label": "Subheadline Text",
      "type": "text"
    },
{
      "type": "header",
      "content": "Products per row"
    },
    {
      "type": "select",
      "id": "grid_width_large",
      "options": [
        { "value": "large--one-whole", "label": "1 per row"},
        { "value": "large--one-half", "label": "2 per row"},
        { "value": "large--one-third", "label": "3 per row"},
        { "value": "large--one-quarter", "label": "4 per row"},
        { "value": "large--one-fifth", "label": "5 per row"},
        { "value": "large--one-sixth", "label": "6 per row"}
      ],
      "default": "large--one-quarter",
      "label": "Full width"
    },
    {
      "type": "select",
      "id": "grid_width_medium",
      "options": [
        { "value": "medium--one-whole", "label": "1 per row"},
        { "value": "medium--one-half", "label": "2 per row"},
        { "value": "medium--one-third", "label": "3 per row"},
        { "value": "medium--one-quarter", "label": "4 per row"}
      ],
      "default": "medium--one-half",
      "label": "Tablet"
    },
    {
      "type": "select",
      "id": "grid_width_small",
      "options": [
        { "value": "small--one-whole", "label": "1 per row"},
        { "value": "small--one-half", "label": "2 per row"},
        { "value": "small--one-third", "label": "3 per row"}
      ],
      "default": "small--one-half",
      "label": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "show_section_title",
      "default": true,
      "label": "Show section title"
    },
    {
      "type": "header",
      "content": "Grid styling"
    },
    {
      "type": "checkbox",
      "id": "grid_background_option",
      "default": false,
      "label": "Grid background option"
    },
    {
      "type": "color",
      "id": "grid_background_color",
      "label": "Grid background color",
      "default": "#e5e5e5"
    },
    {
      "type": "checkbox",
      "id": "grid_styling_option",
      "default": false,
      "label": "Grid styling option"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "banner_option",
      "default": false,
      "label": "Banner option"
    },
	{
      "type": "select",
      "id": "banner_option_alignment",
      "options": [
        { "value": "top", "label": "Top"},
        { "value": "absolute", "label": "Absolute"},
        { "value": "inline", "label": "Inline"}
      ],
      "default": "top",
      "label": "Position"
    },
    {
      "type": "header",
      "content": "Product title"
    },
	{
      "type": "select",
      "id": "product_title_position",
      "options": [
        { "value": "before", "label": "Before"},
        { "value": "after", "label": "After"}
      ],
      "default": "before",
      "label": "Position"
    },
	{
      "type": "select",
      "id": "product_title_alignment",
      "options": [
        { "value": "text-left", "label": "Left"},
        { "value": "text-center", "label": "Center"}
      ],
      "default": "text-center",
      "label": "Alignment"
    },
    {
      "type": "checkbox",
      "id": "product_linkable",
      "default": false,
      "label": "Linkable"
    },
    {
      "type": "header",
      "content": "Product description"
    },
	{
      "type": "select",
      "id": "product_description_alignment",
      "options": [
        { "value": "text-left", "label": "Left"},
        { "value": "text-center", "label": "Center"}
      ],
      "default": "text-center",
      "label": "Alignment"
    },
    {
      "type": "header",
      "content": "Product specification"
    },
    {
      "type": "checkbox",
      "id": "product_specification_option",
      "default": false,
      "label": "Specification option"
    },
    {
      "type": "header",
      "content": "Price"
    },
    {
      "type": "checkbox",
      "id": "price_option",
      "default": false,
      "label": "Price option"
    },
	{
      "type": "select",
      "id": "price_option_alignment",
      "options": [
        { "value": "text-left", "label": "Left"},
        { "value": "text-center", "label": "Center"}
      ],
      "default": "text-center",
      "label": "Alignment"
    },
    {
      "type": "header",
      "content": "Discount price"
    },
    {
      "type": "checkbox",
      "id": "discount_price_option",
      "default": false,
      "label": "Discount price option"
    },
	{
      "type": "select",
      "id": "discount_price_display",
      "options": [
        { "value": "inline", "label": "inline"},
        { "value": "block", "label": "Block"}
      ],
      "default": "inline",
      "label": "Display"
    },
    {
      "type": "header",
      "content": "Discount text"
    },
	{
      "type": "checkbox",
      "id": "discount_price_text_option",
      "default": false,
      "label": "Discount text option"
    },
	{
      "type": "select",
      "id": "discount_price_text_alignment",
      "options": [
        { "value": "text-left", "label": "Left"},
        { "value": "text-center", "label": "Center"}
      ],
      "default": "text-center",
      "label": "Alignment"
    },
    {
      "type": "checkbox",
      "id": "affirm_option",
      "default": false,
      "label": "Affirn option"
    },
    {
      "type": "header",
      "content": "Shop button"
    },
    {
      "type": "checkbox",
      "id": "shop_button_option",
      "default": false,
      "label": "Shop button option"
    },
	{
      "type": "select",
      "id": "shop_button_display",
      "options": [
        { "value": "inline", "label": "inline"},
        { "value": "block", "label": "Block"}
      ],
      "default": "inline",
      "label": "Display"
    },
    {
      "type": "checkbox",
      "id": "field_before_button_option",
      "default": false,
      "label": "Field before button option"
    },
    {
      "type": "header",
      "content": "Field under button"
    },
    {
      "type": "checkbox",
      "id": "field_under_button_option",
      "default": false,
      "label": "Field under button option"
    }
  ],
  "presets": [
    {
      "name": "Mattresses collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
<style>
  .head-container{
    padding: 0 20px;
    margin: auto;
  }
  .head-con{
     font-size: 2.25rem;
    text-transform: none;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    margin: 0 auto;
    text-align: center;
    font-family: apercubold,Helvetica,Arial,sans-serif;

  }
  .subhead-con{
  text-align: center;
    font-family: "apercubold", sans-serif;
    text-transform: none;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 5px auto 10px;
    

  }
   @media only screen and (max-width: 63.9375rem) {
      .head-con{
    font-size: 27px;
      }
   }
</style>