<section id="review-section" class="ypreviews">
  <div class="ypreviews-wrap">
    <h2 class="reviews_heading" id="reviews">Bear Original Reviews</h2>
    <div style="margin: 0 auto; padding: 1rem; text-align: center;">
      <p class="small-link dark" data-uw-rm-sr=""></p>
    </div>
   <div class="yotpo-widget-instance" data-yotpo-instance-id="544318" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-price="{{ product.price | divided_by: 100.00 }}" data-yotpo-currency="{{ shop.currency }}" data-yotpo-description="{{ product.description | escape }}"></div>
  </div>
</section>

{% schema %}
  {
    "name": "Review Section",
    "settings": [],
    "presets": [
      {
        "name": "Review Section"
      }
    ]
  }
{% endschema %}