{% include 'product-details' %}
{% section 'pdp-bedding-icon-grid' %}

{% section 'sheets-product-details' %}
{% section 'terry-protector-product-detail' %}
{% section 'pdp-accordion-bedding' %}
{% comment %}
{% section 'bedding-product-details' %}
{% section 'pdp-bedding-scc' %}

{% endcomment %}

{% comment %}
<section id="review-section" class="ypreviews">
  <div class="ypreviews-wrap">
    <h2 class="reviews_heading" id="reviews">Bear Bedding Reviews</h2>
		<div class="yotpo yotpo-main-widget"
		    data-product-id="{{ product.id }}"
		    data-name="{{ product.title | escape }}"
		    data-url="{{ shop.url }}{{ product.url }}"
		    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
		    data-description="{{ product.description | escape }}">
		</div>
	</div>
</section>
{% endcomment %}
{% include 'schema' %}