{% include 'celliant-product-details' %}
{% section 'elite-hybrid-icon-grid' %}
{% section 'staggered-content--sale-page' %}
{% section 'section-publications-2' %}
{% section 'simple-grid-elite-hybrid' %}
{% section 'staggered-content--hybrid-elite' %}
{% section 'ACA-elite-hybrid' %}
{% section 'pdp-imageblockcontent-hybrid-elite' %}
{% section 'staggered-firmness-elite-hybrid' %}
{% section 'elite-video' %}
{% section 'yotpo-pdp-hybrid-elite-gallery' %}
<section id="review-section" class="ypreviews" style="margin-top: 40px">
  <div class="ypreviews-wrap">
    <h2 class="reviews_heading" id="reviews">Bear Elite Hybrid Reviews</h2>
       <div class="yotpo-widget-instance" data-yotpo-instance-id="544318" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-price="{{ product.price | divided_by: 100.00 }}" data-yotpo-currency="{{ shop.currency }}" data-yotpo-description="{{ product.description | escape }}"></div>
  </div>
</section>
{% comment %}
{% section 'staggered-content--sale-page' %}
{% section 'elite-slideshow-reviews' %}
{% section 'elite-slideshow-reviews-2' %}
{% section 'section-publications-4' %}
{% endcomment %}
{% section 'pdp-financing-blocks' %}
{% section 'pdp-accordion-hybrid-elite' %}
{% section 'elite-hybrid-standard-content' %}
{% section 'elite-hybrid-faq-component' %}















{% comment %}
  {% section 'elite-hybrid-content-grid' %}
{% endcomment %}





{% comment %}
  {% section 'simple-grid--elite-hybrid' %}
{% endcomment %}



{% comment %}
  {% section 'simple-grid--hybrid-elite' %}
{% endcomment %}




{% comment %}
  {% section 'elite-hybrid-summary-block' %}
{% endcomment %}

{% include 'schema' %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  //   $('.icon-grid__section-wrapper').slick({
  //   arrows: false,
  //       centerMode: true,
  //       infinite: false,
  //       variableWidth: true,
  //   slidesToShow: 4,
  //   slidesToScroll: 4,
  //   responsive: [
  //       {
  //       breakpoint: 1024,
  //       settings: {
  //         slidesToShow: 3,
  //         slidesToScroll: 3,
  //         infinite: true,
  //         dots: true
  //       }
  //     },
  //     {
  //       breakpoint: 767,
  //       settings: {
  //          arrows: false,
  //               centerMode: true,
  //               centerPadding: '40px',
  //               slidesToShow: 3
  //       }
  //     },
  //     {
  //       breakpoint: 480,
  //       settings: {
  //          initialSlide: initialSlide,
  //               arrows: false,
  //               centerMode: true,
  //               centerPadding: '40px',
  //               slidesToShow: 1
  //       }
  //     }
  //   ]
  // });


  $('#shopify-section-elite-icon-grid-new .icon-grid__section-wrapper').slick({
    dots: false,
         infinite: false,
    infinite: false,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 4,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
  });
</script>
<style>
  #shopify-section-elite-icon-grid-new .icon-grid__section-wrapper img{
    margin: auto;
    margin-bottom: 16px;
    max-width: none;
  }
</style>
<div class="modali">
 <div class="cs-modal-overlayi"></div>
  <div class="modal-contenti">
   <span class="closei mdi mdi-close" data-uw-cer-popup-close="" tabindex="0" aria-label="Close dialog" role="button"></span>
     <h3>Better Sleep to Boost Recovery</h3>
       <div class="modal-description">
       <img class="desk" style="width: 100%;padding: 0 1px;" src="https://cdn.shopify.com/s/files/1/0661/5815/files/EliteHybrid-CelliantCoverPopup.jpg?v=1709607507">
       <img class="mob" style="width: 100%;padding: 0 1px;margin: auto;" src="https://cdn.shopify.com/s/files/1/0661/5815/files/EliteHybrid-CelliantCoverPopupMobile.jpg?v=1709607508">
  </div>
  <div class="modal-ctai">
  <div class="orderi"><a href="javascript:void(0)" data-uw-rm-brl="exc" data-value="Queen-39281250730089" tabindex="0">YES, INCLUDE IT</a></div>
 <div class="close-modal-ctai"><a href="javascript:void(0)" data-uw-rm-brl="exc" data-value="Queen-39281250730089" tabindex="0">CLOSE</a></div>
  </div>
    </div>
  </div>


  <style>
    .close-modal-ctai a {
  display: inline-block;
  background: #989898;
  text-decoration: none;
  clear: both;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 13px;
  margin: 0 auto;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
       cursor: pointer;
}
    .orderi a {
  display: inline-block;
  background: #1e3d54;
  text-decoration: none;
  clear: both;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 13px;
  margin: 0 auto;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
       cursor: pointer;
}
    .close-modal-ctai {
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: center;
     
}
    .orderi {
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: center;
}
.modal-ctai {
  clear: both;
  margin: 30px -10px 0;
display: flex;
  justify-content: center;
}
    .closei {
  color: #aaaaaa;
  float: right;
  color: rgba(0, 0, 0, 0.54);
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 0 7px;
       cursor: pointer;
}
    .flexed-pop img{
      max-width: 200px;
      width: 90%;
      margin: auto;
       margin-right: 30px;
      margin-left: 0;
    }
    .flexed-pop{
      display: flex;
      align-items: center;
    }
    .modali {
      display: none;
  position: fixed;
  z-index: 99999997;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
    .cs-modal-overlayi{
      position: fixed;
  z-index: 99999998;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
    }
    .modal-contenti{
      border-radius: 4px;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.26), 0 0 24px 0 rgba(0, 0, 0, 0.12);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  max-width: 640px;
  height: auto;
  padding: 24px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999999;
  transform: translate(-50%, -50%);
    }
    .desk{
      display: block!important;
    }
    .mob{
      display: none!important;
    }
    .firmness-guide-linkk{
      color: #2e577c !important;
    cursor: pointer !important;
          font-weight: 500;
    margin-left: 16px;
    float: right;
    }
    @media only screen and (max-width: 600px) {
.desk{
display: none!important;
}
      .mob{
        display: block!important;
      }
}
  </style>
  <script>
   $(".close-modal-ctai, .closei").click(function(){
    $(".modali").hide();
});

$(".orderi").click(function(){
    $("#cs-option-selection-2").val("Yes").change();
  var target = $('#cs-option-selection-2').val();
    if(target == "Yes"){
   $(".product-slider__controls .product-slider__controls-thumb:nth-child(2)").click();
};
    $(".modali").hide();
});

$(".firmness-guide-linkk").click(function(event){
    event.preventDefault();
    $(".modali").show();
});

$('#cs-option-selection-1, #cs-option-selection-0, #cs-option-selection-2').on('change', function() { 
    var target = $('#cs-option-selection-2').val();
    if(target == "Yes"){
        $(".product-slider__controls .product-slider__controls-thumb:nth-child(2)").click();
    }
});


  </script>
