{% section 'bundle-variants' %}
{% include 'product-details-bundle' %}
{% section 'bear-sleep-bundle-pdp-icon-grid' %}
{% section 'bear-bundle-pdp-simple-grid' %}

{% section 'pdp-financing-blocks' %}
{% section 'shopify-section-bear-bundle-standard-content' %}

<section id="review-section" class="ypreviews">
  <div class="ypreviews-wrap">
    <h2 class="reviews_heading" id="reviews">Bear Mattress Bundle Reviews</h2>
		<div class="yotpo-widget-instance" data-yotpo-instance-id="544318" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-price="{{ product.price | divided_by: 100.00 }}" data-yotpo-currency="{{ shop.currency }}" data-yotpo-description="{{ product.description | escape }}"></div>
	</div>
</section>

{% include 'schema' %}